/* This parent can be any width and height */
.block {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.offscreen {
    position: fixed;
    top: -2000px;
    left: -2000px;
}

.main-banner {
    height: 33%;
}

.main-banner > .row {
    height: 100%;
    margin-bottom: 4px;
    background-color: white;
}

.main-banner > .banner-1 {
    background-image: url('../images/background1.1.jpg');
}
.main-banner > .banner-2 {
    background-image: url('../images/background1.2.jpg');
}
.main-banner > .banner-3 {
    background-image: url('../images/background1.3.jpg');
}
